<div class="navbar bg-base-100 shadow-sm fixed top-0 left-0 w-full z-50">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a>Inicio </a></li>
        <li>
          <a>Proyectos</a>
          <ul class="p-2">
            <li><a>Proyecto 1 1</a></li>
            <li><a>Proyecto 2</a></li>
          </ul>
        </li>
        <li><a>Contacto</a></li>
      </ul>
    </div>
    <a href="#hero" class="btn btn-ghost text-xl text-yellow-300"><p class="text-blue-600">Juan</p>VG</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 gap-4">
      <li><a href="#hero" class="link link-hover">Inicio</a></li>
      <li> <a href="#proyectos" class="link link-hover">Proyectos</a></li>
      <li><a href="#contacto" class="link link-hover">Contacto</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a href="cv.pdf" download="CVJUAN.pdf" class="btn">Descargar CV</a>
  </div>
</div>
