<!-- <div id="hero" class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src="mifoto.jpeg" alt="Foto de Juan Velasco"
      class="max-w-sm rounded-2xl shadow-2xl"
    />
    <div>
      <h1 class="text-5xl font-bold">Mi Portafolio</h1>
      <p class="py-6">
    ¡Hola! Soy Juan Velasco, recién graduado en Ingeniería Informática y actualmente adentrándome en el mundo del desarrollo web como junior.
Me estoy especializando en frontend con Angular y en backend con Node.js y NestJS, creando aplicaciones modernas, limpias y funcionales. En este portfolio puedes ver mis proyectos, explorar mis habilidades y contactarme fácilmente.
      </p>
      <p class="mb-8">Además, soy un apasionado de la naturaleza y los animales, y disfruto haciendo rutas de senderismo.</p>
      <a href="#proyectos" class="btn btn-primary">Mis proyectos</a>
    </div>
  </div>
</div> -->

<div id="hero" class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse items-center mt-16">
    <img
      src="mifoto.jpeg"
      alt="Foto de Juan Velasco"
      class="w-full max-w-sm rounded-2xl shadow-2xl object-cover"
    />
    <div class="text-center lg:text-left mt-6 lg:mt-0">
      <h1 class="text-4xl sm:text-5xl font-bold">Mi Portafolio</h1>
      <p class="py-4 sm:py-6 text-sm sm:text-base">
        ¡Hola! Soy Juan Velasco, recién graduado en Ingeniería Informática y actualmente adentrándome en el mundo del desarrollo web como junior.
        Me estoy especializando en frontend con Angular y en backend con Node.js y NestJS, creando aplicaciones modernas, limpias y funcionales. En este portfolio puedes ver mis proyectos, explorar mis habilidades y contactarme fácilmente.
      </p>
      <p class="mb-6 sm:mb-8 text-sm sm:text-base">
        Además, soy un apasionado de la naturaleza y los animales, y disfruto haciendo rutas de senderismo.
      </p>
      <a href="#proyectos" class="btn btn-primary">Mis proyectos</a>
    </div>
  </div>
</div>


